[Desktop Entry]
Categories=Utility;Network;RemoteAccess;
Comment=Mouse & Keyboard sharing via LAN
Comment[de_DE]=Maus- und Tastaturfreigabe über LAN
Exec=deskunion
Icon=io.github.luminusos.DeskUnion
Keywords=KVM;mouse;keyboard;share;LAN;
Name=DeskUnion
StartupNotify=true
Terminal=false
Type=Application
