[Desktop Entry]
Categories=Utility;
Comment[en_US]=Mouse & Keyboard sharing via LAN
Comment=Mouse & Keyboard sharing via LAN
Comment[de_DE]=Maus- und Tastaturfreigabe über LAN
Exec=deskunion
Icon=io.github.luminusos.DeskUnion
Name[en_US]=Deskunion
Name=Deskunion
StartupNotify=true
Terminal=false
Type=Application
