[Unit]
Description=Deskunion
# deskunion needs an active graphical session
After=graphical-session.target
# make sure the service terminates with the graphical session
BindsTo=graphical-session.target

[Service]
ExecStart=/usr/bin/deskunion daemon
Restart=on-failure

[Install]
WantedBy=graphical-session.target
